* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

@mixin qr($size) {
  @media (max-width: #{$size}) {
    @content;
  }
}

body {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
}

.presentation {

  text-align: center;
  padding: 2% 10% 7% 10%;
  font-size: x-large;
  background: #f4f4f4;

  h1 {
    margin-bottom: 5%;
    color: #434343;
  }
}




.pricingdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  width: 100%;
  background-color: #f4f4f4;
  padding-bottom: 10%;
}

.pricingdiv ul.theplan {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: rgb(255, 255, 255);
  background: rgb(99, 199, 191);
  position: relative;
  width: 250px;
  /* largeur de chaque table */
  margin-right: 10px;
  /* espacement entre les tables*/
  margin-bottom: 1em;
  transition: all .5s;
  margin-left: 5%;
  margin-right: 5%;

  &:hover {
    /* when mouse hover over pricing table */
    transform: scale(1.05);
    transition: all .5s;
    z-index: 1;
    box-shadow: 0 0 10px gray;
  }

}

.ed {
  color: black;

  span {
    font-size: xx-large;
  }
}

.pricingdiv ul.theplan:hover {
  /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 1;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan li {
  margin: 10px 20px;
  position: relative;
}

.pricingdiv ul.theplan li.title {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid white;
}


.pricingdiv ul.theplan:nth-of-type(2) {
  background: #FF7315;
}

.pricingdiv ul.theplan:nth-of-type(3) {
  background: rgb(99, 199, 191);
}

.pricingdiv ul.theplan:last-of-type {
  /* supprimer la marge droite dans le dernier tableau */
  margin-right: 0;
}


.pricingdiv ul.theplan li:last-of-type {
  text-align: center;
  margin-top: auto;
  /* aligner le dernier LI (prix botton li) tout en bas de UL */
}

.pricingdiv a.pricebutton {
  background: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: navy;
  text-transform: uppercase;
}

.testimonials {

  padding: 40px 0;
  background: #f4f4f4;
  color: #434343;
  text-align: center;
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  h1 {
    margin-bottom: 5%;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  box-sizing: border-box;
  padding: 15px;

  @include qr(960px) {
    flex: 100%;
    max-width: 80%;
  }

  @include qr(600px) {
    flex: 100%;
    max-width: 100%;

  }
}

.testimonial {
  background: #fff;
  padding: 30px;
  height: 100%;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.name {
  font-size: 20px;

  margin: 20px 0;
}

.stars {
  color: #FF7315;
  margin-bottom: 20px;
}


