$MainColor:#FF7315;
$MediaMobile:480px;
$MediaTablette:1000px;
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
}
.allMenuSlide{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-template-areas:"w3-content textbtn" ;
  width: 100%;
  margin:0 auto;

}
/**---------------------------------- secton header-----------------------------------**/
.w3-content{
  grid-area: w3-content;
  width: 60%;
}
.mySlides {
display:none;
width: 43vw/* 80% */;
height: 365px/* 400px */;
margin:3%;
}
.textbtn{
  grid-area: textbtn;
  width: 40%;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 40%;
  grid-template-areas:"textbtn__para"
                       "textbtn__subscribe" ;
                       &__para{
                        background-color:#3F8FB9;
                        color:#fff;
                        width: 31vw;
                        height: auto;
                        padding: 12%;
                        margin-top: 38%;
                        margin-bottom:25%;
                        border-radius: 10px;
                        text-align: center;
                        grid-area: textbtn__para;
                        align-self: center;
                        }
                        &__subscribe{
                          color:white;
                          background-color: $MainColor;
                          border:1px solid $MainColor;
                          border-radius: 10px;
                          width: 30%;
                          height: 18%;
                          padding: 1%;
                          grid-area: textbtn__subscribe;
                          justify-self: center;
                          &:hover{
                            color:$MainColor;
                            background-color: rgb(255, 255, 255);
                            border:1px solid rgb(255, 255, 255);
                          }
                          }
                      }
                      @media screen and (max-width: $MediaMobile) {
                        .mySlides {
                          display:none;
                          width: 40vw;
                          height: 300px;
                        }
                        .textbtn{
                          grid-area: textbtn;
                          width: 40%;
                          display:grid;
                          grid-template-columns: 1fr;
                          grid-template-rows: 60% 40%;
                          grid-template-areas:"textbtn__para"
                                               "textbtn__subscribe" ;
                                               &__para{
                                                height: auto;
                                                  width: 31vw;
                                                  grid-area: textbtn__para;
                                                  align-self: center;}
                                                  &__subscribe{
                                                    width: 30%;
                                                    height: 18%;
                                                    padding: 1%;
                                                    grid-area: textbtn__subscribe;
                                                    justify-self: center;
                                                }
                          }
                      
                      
                      }
                      @media screen and (max-width: $MediaMobile) {
                        .mySlides {
                          height: 300px;
                          width:100%;
                            }
                       .allMenuSlide{
                                display: grid;
                                grid-template-rows: 1fr 1fr;
                                grid-template-columns: 1fr;
                                grid-template-areas:"w3-content"
                                                     "textbtn" ;
                                width: 100%;
                            } 
                    .w3-content{
                        grid-area: w3-content;
                        width: auto;
                    }
                    .textbtn{
                      grid-area: textbtn;
                      width: auto;
                  &__para{
                    width: 100%;
                      height: auto;
                      padding: 8%;
                  }
                  &__subscribe{
                    width: 40%;
                } 
                }
                  
                  }
/**----------------------------------end secton header-----------------------------------**/
/**---------------------------------- our technology-----------------------------------**/

@mixin cardlang {
  height: auto;
  display: grid;
  margin-bottom:12%;
  padding:9%;
  grid-template-columns: 70% 30%;
 grid-template-rows: 20% 80%;
 grid-template-areas: "h4 img"
                      "p img";
 border-radius: 3px;
 background-color: #fff;
 transition: width 2s;
 transition-timing-function: linear;
 &:hover{
  box-shadow: 4px 5px 40px #b5b5b5;
  h4{
      color:$MainColor;

  }
  }
  p{
    grid-area: p;
    font-size: 1em;
    margin-top: 10%;
  }
  h4{
    font-size:1,5em;
    grid-area: h4;
    color:#222;
    @media screen and (max-width: $MediaTablette) {
      font-size:1em;
    }
  }
  img{
    grid-area: img;
    width:70%;
    margin-left:25%;
    align-self: start;
  }
  @media screen and (max-width: $MediaTablette) {
    p{
     grid-area: p;
     font-size: 14px;
     margin-top: 7%;
   }
   h4{
     grid-area: h4;
   }
   img{
     grid-area: img;
     width:100%;
     margin-left:10%;
     align-self: start;
   }
 }
}
H1{
  color: #222;
  font-size:30px;
  font-weight:700;
  margin-bottom:4%;
  margin-top:5%;
  text-align:center;
}

.TechnoCard{
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "TechnoCard__bootstrap TechnoCard__centerpic TechnoCard__php"
                       "TechnoCard__js TechnoCard__centerpic TechnoCard__adobe"
                       "TechnoCard__htmlcss TechnoCard__centerpic TechnoCard__wordpress";
                       @media screen and (max-width: $MediaMobile) {
                        display: grid;
                        grid-template-columns:1fr;
                        grid-template-rows: repeat(7, "3O%");
                        grid-template-areas: "TechnoCard__bootstrap"
                        "TechnoCard__js"
                        "TechnoCard__htmlcss"
                        "TechnoCard__centerpic"
                        "TechnoCard__php"
                        "TechnoCard__adobe"
                        "TechnoCard__wordpress";
                        }
                        &__bootstrap{
                          grid-area: TechnoCard__bootstrap;
                          @include cardlang;
                          }
                          &__centerpic{
                            grid-area: TechnoCard__centerpic;
                            align-self: center;
                            & img{
                              width: 100% ;
                            }
                          }
                          &__php{
                            grid-area: TechnoCard__php;
                            @include cardlang;
                          }
                          &__js{
                            grid-area: TechnoCard__js;
                            @include cardlang;
                             }
                             &__adobe{
                              grid-area: TechnoCard__adobe;
                              @include cardlang;
                              }
                              &__htmlcss{
                              grid-area: TechnoCard__htmlcss;
                              @include cardlang;
                              }
                              &__wordpress{
                              grid-area: TechnoCard__wordpress;
                              @include cardlang;
                              }
            }
/**----------------------------------end secton header-----------------------------------**/
