* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
}

.allMenuSlide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "w3-content textbtn";
  width: 100%;
  margin: 0 auto;
}

/**---------------------------------- secton header-----------------------------------**/
.w3-content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: w3-content;
  width: 60%;
}

.mySlides {
  display: none;
  width: 43vw;
  height: 365px;
  margin: 3%;
}

.textbtn {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: textbtn;
  width: 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 60% 40%;
      grid-template-rows: 60% 40%;
      grid-template-areas: "textbtn__para" "textbtn__subscribe";
}

.textbtn__para {
  background-color: #3F8FB9;
  color: #fff;
  width: 31vw;
  height: auto;
  padding: 12%;
  margin-top: 38%;
  margin-bottom: 25%;
  border-radius: 10px;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: textbtn__para;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.textbtn__subscribe {
  color: white;
  background-color: #FF7315;
  border: 1px solid #FF7315;
  border-radius: 10px;
  width: 30%;
  height: 18%;
  padding: 1%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: textbtn__subscribe;
  -ms-grid-column-align: center;
      justify-self: center;
}

.textbtn__subscribe:hover {
  color: #FF7315;
  background-color: white;
  border: 1px solid white;
}

@media screen and (max-width: 480px) {
  .mySlides {
    display: none;
    width: 40vw;
    height: 300px;
  }
  .textbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: textbtn;
    width: 40%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 60% 40%;
        grid-template-rows: 60% 40%;
        grid-template-areas: "textbtn__para" "textbtn__subscribe";
  }
  .textbtn__para {
    height: auto;
    width: 31vw;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: textbtn__para;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .textbtn__subscribe {
    width: 30%;
    height: 18%;
    padding: 1%;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: textbtn__subscribe;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 480px) {
  .mySlides {
    height: 300px;
    width: 100%;
  }
  .allMenuSlide {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "w3-content" "textbtn";
    width: 100%;
  }
  .w3-content {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: w3-content;
    width: auto;
  }
  .textbtn {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: textbtn;
    width: auto;
  }
  .textbtn__para {
    width: 100%;
    height: auto;
    padding: 8%;
  }
  .textbtn__subscribe {
    width: 40%;
  }
}

/**----------------------------------end secton header-----------------------------------**/
/**---------------------------------- our technology-----------------------------------**/
H1 {
  color: #222;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 4%;
  margin-top: 5%;
  text-align: center;
}

.TechnoCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 34% 33%;
      grid-template-columns: 33% 34% 33%;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "TechnoCard__bootstrap TechnoCard__centerpic TechnoCard__php" "TechnoCard__js TechnoCard__centerpic TechnoCard__adobe" "TechnoCard__htmlcss TechnoCard__centerpic TechnoCard__wordpress";
}

@media screen and (max-width: 480px) {
  .TechnoCard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: ("3O%")[7];
        grid-template-rows: repeat(7, "3O%");
        grid-template-areas: "TechnoCard__bootstrap" "TechnoCard__js" "TechnoCard__htmlcss" "TechnoCard__centerpic" "TechnoCard__php" "TechnoCard__adobe" "TechnoCard__wordpress";
  }
}

.TechnoCard__bootstrap {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: TechnoCard__bootstrap;
  height: auto;
  display: -ms-grid;
  display: grid;
  margin-bottom: 12%;
  padding: 9%;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
      grid-template-areas: "h4 img" "p img";
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: width 2s;
  transition: width 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.TechnoCard__bootstrap:hover {
  -webkit-box-shadow: 4px 5px 40px #b5b5b5;
          box-shadow: 4px 5px 40px #b5b5b5;
}

.TechnoCard__bootstrap:hover h4 {
  color: #FF7315;
}

.TechnoCard__bootstrap p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
  font-size: 1em;
  margin-top: 10%;
}

.TechnoCard__bootstrap h4 {
  font-size: 1,5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h4;
  color: #222;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__bootstrap h4 {
    font-size: 1em;
  }
}

.TechnoCard__bootstrap img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  width: 70%;
  margin-left: 25%;
  -ms-flex-item-align: start;
      align-self: start;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__bootstrap p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: p;
    font-size: 14px;
    margin-top: 7%;
  }
  .TechnoCard__bootstrap h4 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h4;
  }
  .TechnoCard__bootstrap img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: img;
    width: 100%;
    margin-left: 10%;
    -ms-flex-item-align: start;
        align-self: start;
  }
}

.TechnoCard__centerpic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: TechnoCard__centerpic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.TechnoCard__centerpic img {
  width: 100%;
}

.TechnoCard__php {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: TechnoCard__php;
  height: auto;
  display: -ms-grid;
  display: grid;
  margin-bottom: 12%;
  padding: 9%;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
      grid-template-areas: "h4 img" "p img";
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: width 2s;
  transition: width 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.TechnoCard__php:hover {
  -webkit-box-shadow: 4px 5px 40px #b5b5b5;
          box-shadow: 4px 5px 40px #b5b5b5;
}

.TechnoCard__php:hover h4 {
  color: #FF7315;
}

.TechnoCard__php p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
  font-size: 1em;
  margin-top: 10%;
}

.TechnoCard__php h4 {
  font-size: 1,5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h4;
  color: #222;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__php h4 {
    font-size: 1em;
  }
}

.TechnoCard__php img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  width: 70%;
  margin-left: 25%;
  -ms-flex-item-align: start;
      align-self: start;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__php p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: p;
    font-size: 14px;
    margin-top: 7%;
  }
  .TechnoCard__php h4 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h4;
  }
  .TechnoCard__php img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: img;
    width: 100%;
    margin-left: 10%;
    -ms-flex-item-align: start;
        align-self: start;
  }
}

.TechnoCard__js {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: TechnoCard__js;
  height: auto;
  display: -ms-grid;
  display: grid;
  margin-bottom: 12%;
  padding: 9%;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
      grid-template-areas: "h4 img" "p img";
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: width 2s;
  transition: width 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.TechnoCard__js:hover {
  -webkit-box-shadow: 4px 5px 40px #b5b5b5;
          box-shadow: 4px 5px 40px #b5b5b5;
}

.TechnoCard__js:hover h4 {
  color: #FF7315;
}

.TechnoCard__js p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
  font-size: 1em;
  margin-top: 10%;
}

.TechnoCard__js h4 {
  font-size: 1,5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h4;
  color: #222;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__js h4 {
    font-size: 1em;
  }
}

.TechnoCard__js img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  width: 70%;
  margin-left: 25%;
  -ms-flex-item-align: start;
      align-self: start;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__js p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: p;
    font-size: 14px;
    margin-top: 7%;
  }
  .TechnoCard__js h4 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h4;
  }
  .TechnoCard__js img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: img;
    width: 100%;
    margin-left: 10%;
    -ms-flex-item-align: start;
        align-self: start;
  }
}

.TechnoCard__adobe {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: TechnoCard__adobe;
  height: auto;
  display: -ms-grid;
  display: grid;
  margin-bottom: 12%;
  padding: 9%;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
      grid-template-areas: "h4 img" "p img";
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: width 2s;
  transition: width 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.TechnoCard__adobe:hover {
  -webkit-box-shadow: 4px 5px 40px #b5b5b5;
          box-shadow: 4px 5px 40px #b5b5b5;
}

.TechnoCard__adobe:hover h4 {
  color: #FF7315;
}

.TechnoCard__adobe p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
  font-size: 1em;
  margin-top: 10%;
}

.TechnoCard__adobe h4 {
  font-size: 1,5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h4;
  color: #222;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__adobe h4 {
    font-size: 1em;
  }
}

.TechnoCard__adobe img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  width: 70%;
  margin-left: 25%;
  -ms-flex-item-align: start;
      align-self: start;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__adobe p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: p;
    font-size: 14px;
    margin-top: 7%;
  }
  .TechnoCard__adobe h4 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h4;
  }
  .TechnoCard__adobe img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: img;
    width: 100%;
    margin-left: 10%;
    -ms-flex-item-align: start;
        align-self: start;
  }
}

.TechnoCard__htmlcss {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: TechnoCard__htmlcss;
  height: auto;
  display: -ms-grid;
  display: grid;
  margin-bottom: 12%;
  padding: 9%;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
      grid-template-areas: "h4 img" "p img";
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: width 2s;
  transition: width 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.TechnoCard__htmlcss:hover {
  -webkit-box-shadow: 4px 5px 40px #b5b5b5;
          box-shadow: 4px 5px 40px #b5b5b5;
}

.TechnoCard__htmlcss:hover h4 {
  color: #FF7315;
}

.TechnoCard__htmlcss p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
  font-size: 1em;
  margin-top: 10%;
}

.TechnoCard__htmlcss h4 {
  font-size: 1,5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h4;
  color: #222;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__htmlcss h4 {
    font-size: 1em;
  }
}

.TechnoCard__htmlcss img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  width: 70%;
  margin-left: 25%;
  -ms-flex-item-align: start;
      align-self: start;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__htmlcss p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: p;
    font-size: 14px;
    margin-top: 7%;
  }
  .TechnoCard__htmlcss h4 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h4;
  }
  .TechnoCard__htmlcss img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: img;
    width: 100%;
    margin-left: 10%;
    -ms-flex-item-align: start;
        align-self: start;
  }
}

.TechnoCard__wordpress {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: TechnoCard__wordpress;
  height: auto;
  display: -ms-grid;
  display: grid;
  margin-bottom: 12%;
  padding: 9%;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
      grid-template-areas: "h4 img" "p img";
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: width 2s;
  transition: width 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.TechnoCard__wordpress:hover {
  -webkit-box-shadow: 4px 5px 40px #b5b5b5;
          box-shadow: 4px 5px 40px #b5b5b5;
}

.TechnoCard__wordpress:hover h4 {
  color: #FF7315;
}

.TechnoCard__wordpress p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
  font-size: 1em;
  margin-top: 10%;
}

.TechnoCard__wordpress h4 {
  font-size: 1,5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h4;
  color: #222;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__wordpress h4 {
    font-size: 1em;
  }
}

.TechnoCard__wordpress img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  width: 70%;
  margin-left: 25%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media screen and (max-width: 1000px) {
  .TechnoCard__wordpress p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: p;
    font-size: 14px;
    margin-top: 7%;
  }
  .TechnoCard__wordpress h4 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h4;
  }
  .TechnoCard__wordpress img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: img;
    width: 100%;
    margin-left: 10%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

/**----------------------------------end secton header-----------------------------------**/
/*# sourceMappingURL=Home.css.map */