* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
}

/*****************************************party nav*****************************************************/
header {
  
  margin-bottom: 10%;
}

.allMenuSlide {

  width: 100%;
  margin: 0 auto;
}

nav {

  background: #f4f4f4;
  height: 100px;
  width: 100%;
  
}

.logo {
  animation-iteration-count: infinite;
  width: 9%;
  margin: 4%;
  margin-top: 1%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 2% 0;

}

nav ul li a {
  color: #3F8FB9;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;

}

a.active,
a:hover {
  background: #FF7315;
  /*7248AE*/
  color: white;
  transition: .5s;
}

.checkbtn {
  display: none;
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  color: #FF7315;
}

#check {
  display: none;
}

@media screen and (max-width: 1000px) {

  .logo {
    width: 18%;
    margin: 2% 3%;
  }

  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 63%;
    color: rgb(65, 34, 179);
    margin-left: 127vw;
    background: #E5E5E5;
    top: 96px;
    z-index: 1;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .active {
    color: #FF7515;
  }

  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;

  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: #FF7315;
    /*7248AE*/
    color: white;
  }

  #check:checked~ul {
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 30%;
  }

  nav {
    background-color: #f4f4f4;
    height: 80px;
    width: 80%;
  }

  nav ul {
    width: 64%;
    margin-left: 26%;
    top: 80px;
  }
}