* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
}

body .system {
  width: 100%;
  height: auto;
  background-color: #F4F4F4;
}

body .system .system__titre {
  text-align: center;
  height: 200px;
  padding-top: 50px;
  font-weight: bold;
}

body .system .system__titre .system__titre--modif {
  color: #FF7515;
  font-size: 26px;
  display: inline-block;
  font-style: italic;
  letter-spacing: normal;
}

body .system .system__titre .system__titre--modif2 {
  font-size: 36px;
}

body .system .compte {
  background-color: #b3ff00;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
