* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body {
    width: 80%;
    margin: 0 auto;
    font-family: 'PT Serif', serif;
    font-size: 1.2em;
}
 
  /*---------------------------------------**CSS KHADIJA**---------------------------------------*/
  
  /*-------------------------------------**FIN CSS KHADIJA**-------------------------------------*/
  /*-----------------------------------------**CSS SAAF**----------------------------------------*/
  
  /*----------------------------------------**FIN CSS SAAF**-------------------------------------*/
  /*-----------------------------------------**CSS NAJJAR**--------------------------------------*/
  
  /*----------------------------------------**FIN CSS NAJJAR**-----------------------------------*/
  /*-----------------------------------------**CSS ILYASS**--------------------------------------*/
  
  /*----------------------------------------**FIN CSS ILYASS**-----------------------------------*/
  /*-----------------------------------------**CSS SAMIR**----------------------------------------*/

  /*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
  /*-----------------------------------------**CSS SANA**----------------------------------------*/
  
  /*----------------------------------------**FIN CSS SANA**-------------------------------------*/
  @media screen and (max-width: 1000px) {
    /*------------------------Responsive pour Tablette - KHADIJA-------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*------------------------Responsive pour Tablette - SAAF---------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - NAJJAR-----------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - ILYASS-----------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - SAMIR--------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - SANAE-------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
  }
  
  @media screen and (max-width: 480px) {
    /*------------------------Responsive pour Mobile - KHADIJA-------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*------------------------Responsive pour Mobile - SAAF---------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
     /*-----------------------Responsive pour Mobile - NAJJAR-----------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - ILYASS-----------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - SAMIR--------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - SANAE-------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
  }